#wrap {
  height: 100%;
  width: 100%;
  display: flex;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; 
}

.main-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;   
}

.previous {
  width: 97%;
  height: 20%;
  display: flex;
}

.cal {
  height: 100%;
  width: 27%;
  display: flex;
}

.div_content {
  height: 10%;
  width: 40%;
  display: flex; 
}