.canvas {
    position: relative;
  }
  
  .add-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #333;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
  }
  
  .add-button:hover {
    background-color: #555;
  }
  

.canvas .relative {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description {
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 10px;
    text-align: center;
    transition: opacity 0.3s ease;
}

.str:hover .description,
.weak:hover .description,
.oppor:hover .description,
.ths:hover .description {
    display: block;
}

.str .description,
.weak .description,
.oppor .description,
.ths .description {
    display: none;
}
