.canvas .relative {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description {
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 10px;
    text-align: center;
    transition: opacity 0.3s ease;
}

.str:hover .description,
.weak:hover .description,
.oppor:hover .description,
.ths:hover .description {
    display: block;
}

.str .description,
.weak .description,
.oppor .description,
.ths .description {
    display: no