<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Register</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <style>
    /* Custom CSS */
    .form-floating input[type="text"],
    .form-floating input[type="number"],
    .form-floating input[type="email"],
    .form-floating input[type="password"] {
      height: calc(3.5rem + 2px);
    }
  </style>
</head>

<body>
<header class="bg-white py-3">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">동아리 게시판</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/post/list/1">Board</a></li>
          <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
            <a th:href="@{|../../../member/mypage/${#authentication.getPrincipal().getUsername()}|}" class="nav-link">MyPage</a>
          </li>
          <li class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="post" action="join" th:object="${studentAndAccountDto}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div th:replace="~{misc/form_errors :: formErrorsFragment}"></div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="이름">
          <label for="name">이름</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" th:field="*{age}" id="age" placeholder="나이">
          <label for="age">나이</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="이메일">
          <label for="email">이메일</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" th:field="*{accountId}" id="accountId" placeholder="아이디">
          <label for="accountId">아이디</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" th:field="*{accountPasswd}" id="accountPasswd" placeholder="비밀번호">
          <label for="accountPasswd">비밀번호</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" th:field="*{accountPasswdCheck}" id="accountPasswdCheck" placeholder="비밀번호를 다시 입력해주세요">
          <label for="accountPasswdCheck">비밀번호 확인</label>
        </div>
        <button type="submit" class="btn btn-primary me-2">등록</button>
        <a href="/login" class="btn btn-outline-primary">취소</a>
      </form>
    </div>
  </div>
</div>

<div th:replace="~{misc/footer :: footer}"></div>

<script th:src="@{/js/bootstrap.js}" defer></script>
</body>

</html>
