<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>로그인 페이지</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <style>
        .navbar {
            margin-bottom: 30px; /* navbar의 높이만큼 여백을 설정합니다. */
        }

        .login-form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
        }

        /* 반응형 디자인 */
        @media (max-width: 576px) { /* 모바일 화면일 때 */
            .login-form {
                max-width: 300px;
            }
        }
    </style>
</head>

<body>
<header class="bg-white py-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">동아리 게시판</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/post/list/1">Board</a></li>
                    <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                        <a th:href="@{|../../../member/mypage/${#authentication.getPrincipal().getUsername()}|}" class="nav-link">MyPage</a>
                    </li>
                    <li class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container mt-5">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="login-form">
                <form method="post" action="/login">
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            사용자ID 또는 비밀번호를 확인해 주세요.
                        </div>
                    </div>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <div class="mb-3">
                        <label for="id" class="form-label">아이디</label>
                        <input type="text" class="form-control" id="id" placeholder="아이디" name="id">
                    </div>
                    <div class="mb-3">
                        <label for="passwd" class="form-label">비밀번호</label>
                        <input type="password" class="form-control" id="passwd" placeholder="비밀번호" name="passwd">
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">로그인</button>
                        <button type="button" onclick="location.href='/member/join'" class="btn btn-outline-primary">회원가입</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
<div th:replace="~{misc/footer :: footer}"></div>

<script th:src="@{/js/bootstrap.js}" defer></script>
</body>

</html>
