<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>동아리 수정</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container mt-5">-->
<!--    <h2>동아리 수정</h2>-->
<!--    <form th:action="@{/clubs/update/{clubId}(clubId=${club.id})}" th:object="${club}" method="post" enctype="multipart/form-data">-->
<!--        <div class="form-group">-->
<!--            <label for="clubName">동아리 이름</label>-->
<!--            <input type="text" class="form-control" id="clubName" th:field="*{name}">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="clubDescription">동아리 설명</label>-->
<!--            <textarea class="form-control" id="clubDescription" th:field="*{description}"></textarea>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="clubImage">동아리 이미지</label>-->
<!--            <input type="file" class="form-control-file" id="clubImage" name="image">-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">저장</button>-->
<!--    </form>-->
<!--</div>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<!--</body>-->
<!--</html>-->
