<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invitation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            padding: 20px;
            margin: 0;
        }

        .container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            max-width: 600px;
            margin: auto;
        }

        h1 {
            color: #0056b3;
        }

        p {
            line-height: 1.5;
        }
        
    </style>
</head>
<body>
<div class="container">
    <h1>Unmute 회의 초대</h1>
    <p>안녕하세요! <span th:text="${name}">Name</span></p>
    <p>회의 초대 코드를 통해 회의에 접속해주세요.</p>
    <a th:href="${invitationCode}" th:text="${invitationCode}">123456</a>
</div>
</body>
</html>
