<!DOCTYPE html>
<html lang="en ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[UNMUTE] 임시 비밀번호 발급</title>
</head>
<style>
    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pass-wrap {
        font-size: 2.5rem;
        font-weight: 600;
        background: #8fb9ec;
        padding: 10px;
    }
</style>
<body>
<div style="max-width: 600px; padding: 20px; border: 1px solid #dddddd; border-radius: 5px;">
    <h2>임시 비밀번호</h2>
    <hr>
    <p><span th:text="${name}">이름</span>님 반갑습니다.</p>
    <p>아래는 임시로 발급되는 비밀번호입니다.</p>
    <hr>
    <p style="text-align: center;">
        <span class="pass-wrap" th:text="${password}">비밀번호</span>
    </p>
</div>
</body>
</html>